@import "tailwindcss";

@font-face {
  font-family: Cabin-Bold;
  src: url(./assets/Cabin-Bold.ttf);
}

@font-face {
  font-family: Cabin-SemiBold;
  src: url(./assets/Cabin-SemiBold.ttf);
}

@font-face {
  font-family: Figtree-Regular;
  src: url(./assets/Figtree-Regular.ttf);
}

.header {
  @apply flex justify-start items-center border-b-1 border-b-black/20 max-h-2/12 static
}

.header img {
  @apply h-12 w-auto mr-1 ml-4
}

.title-container {
  @apply flex flex-col p-3
}

.sub-title {
  @apply text-xs pl-1
}

.title {
  @apply text-3xl font-[Cabin-Bold]
}

.faq-container {
  @apply h-full justify-center overflow-y-auto [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none]
}

.cards-container {
  @apply h-auto w-[calc(100%-18rem)] py-3 flex flex-col items-center gap-6
}

.cards-container.collapsed {
  @apply w-[calc(100%-4rem)]
}

.qa-card {
  @apply h-auto w-[calc(100%-15rem)] bg-[#F8F9FA] rounded-lg shadow-md overflow-hidden transition-transform duration-300 hover:shadow-lg hover:-translate-y-1
}

.card-question {
  @apply h-auto bg-[#F8F9FA] px-6 pt-6 flex items-start gap-1;
}

.card-question h3 {
  @apply text-black font-[Cabin-SemiBold] text-lg flex-1;
}

.card-answer {
  @apply h-auto px-6 pb-6 pt-2 flex items-start gap-1 bg-[#F8F9FA];
}

.card-answer p {
  @apply text-black leading-relaxed font-[Figtree-Regular] flex-1;
}

.card-term {
  @apply h-auto px-6 pt-3 flex items-start bg-[#F8F9FA] gap-0;
}

.card-term p {
  @apply text-[#696969] leading-relaxed font-[Figtree-Regular] flex-1 text-sm;
}

.card-reference {
  @apply h-auto px-6 pb-6 flex items-start bg-[#F8F9FA] gap-0;
}

.card-reference p {
  @apply text-[#696969] leading-relaxed font-[Figtree-Regular] flex-1 text-sm;
}

.card-reference p:hover {
  @apply text-[#A9A9A9];
}

.dark-mode .cards-container {
  @apply bg-[#333333];
}

.dark-mode .qa-card {
  @apply bg-[#3B3B3B];
}

.dark-mode .card-question {
  @apply bg-[#3B3B3B];
}

.dark-mode .card-question h3 {
  @apply text-white;
}

.dark-mode .card-answer {
  @apply bg-[#3B3B3B];
}

.dark-mode .card-answer p {
  @apply text-white;
}

.dark-mode .card-term {
  @apply bg-[#3B3B3B];
}

.dark-mode .card-term p {
  @apply text-[#F8F9FA]
}

.dark-mode .card-reference {
  @apply bg-[#3B3B3B];
}

.dark-mode .card-reference p {
  @apply text-[#F8F9FA]
}