@import "tailwindcss";

@font-face {
  font-family: Cabin-Bold;
  src: url(./assets/Cabin-Bold.ttf);
}

@font-face {
  font-family: Cabin-SemiBold;
  src: url(./assets/Cabin-SemiBold.ttf);
}

@font-face {
  font-family: Figtree-Regular;
  src: url(./assets/Figtree-Regular.ttf);
}

@keyframes bounce {

  0%,
  80%,
  100% {
    transform: scale(0.6);
    opacity: 0.4;
  }

  40% {
    transform: scale(1);
    opacity: 1;
  }
}

.navbar {
  @apply flex flex-col gap-y-5 pt-4 border-r-1 border-r-black/20 content-center h-dvh w-2xs bg-[#F8F9FA] static transition-all ease-in-out duration-300
}

.dark-mode.navbar {
  @apply bg-[#232323] border-r-white/10 text-white transition-colors duration-300
}

.navbar-collapsed {
  @apply flex flex-col gap-y-5 pt-4 border-r-1 border-r-black/20 content-center h-dvh w-16 bg-white static transition-all ease-in-out duration-300
}

.dark-mode.navbar-collapsed {
  @apply bg-[#333333] transition-colors duration-300
}

.first-row {
  @apply flex mx-4 h-13 flex-row
}

.first-row #clear-chat-button {
  @apply flex justify-start py-4 border-[#D4E9D7] rounded-xl bg-[#D4E9D7] w-5/6 h-full items-center hover:bg-[#D9E3DC] cursor-pointer font-[Figtree-Regular]
}

.dark-mode #clear-chat-button {
  @apply bg-[#3B3B3B] hover:bg-[#424242]
}

#clear-icon {
  @apply w-9.5 h-7.5
}

#clear-icon-dark {
  @apply w-9.5 h-7.5
}

#clear-chat {
  @apply pl-2
}

.menu-button-container {
  @apply flex items-center right-0 pr-0 h-12 cursor-pointer
}

.main-container {
  @apply flex flex-col justify-start w-dvw transition-all ease-in-out duration-300
}

.dark-mode.main-container {
  @apply bg-[#333333] text-white transition-all ease-in-out duration-300
}

#menu-icon {
  @apply w-11 h-8
}

#menu-icon-dark {
  @apply w-11 h-8
}

.button-container {
  @apply flex justify-start mx-4 space-x-4 items-center hover:bg-white rounded-xl cursor-pointer font-[Figtree-Regular] transition-colors duration-200
}

.button-container.collapsed {
  @apply flex justify-center mx-1 py-4 items-center hover:bg-[#F8F9FA] rounded-xl transition-colors duration-200
}

.button-container-active {
  @apply flex justify-start mx-4 space-x-4 items-center rounded-xl bg-white cursor-pointer transition-colors duration-200
}

.button-container-active.collapsed {
  @apply flex justify-center mx-2 py-4 items-center rounded-xl bg-[#F8F9FA] transition-colors duration-200
}

.dark-mode .button-container {
  @apply hover:bg-[#333333] transition-colors duration-200
}

.dark-mode .button-container-active {
  @apply bg-[#333333] transition-colors duration-200
}

.dark-mode .button-container.collapsed {
  @apply hover:bg-[#424242] transition-colors duration-200
}

.dark-mode .button-container-active.collapsed {
  @apply bg-[#424242] transition-colors duration-200
}

.icons {
  @apply pl-2 w-9 h-8
}

.icons.collapsed {
  @apply pl-0 w-8 h-8
}

.theme-switch {
  @apply flex w-10 h-10 rounded-3xl ml-4 mt-83 bg-[#D4E9D7] content-center justify-center transition-colors duration-300 cursor-pointer
}

.dark-mode .theme-switch {
  @apply bg-[#424242] transition-colors duration-300
}

.theme-switch img {
  @apply p-2
}

.nav-title {
  @apply py-5 font-[Figtree-Regular]
}

.header {
  @apply flex justify-start items-center border-b-1 border-b-black/20 max-h-2/12 static
}

.dark-mode .header {
  @apply border-b-white/20 transition-colors duration-300
}

.header img {
  @apply h-12 w-auto mr-1 ml-4
}

.title-container {
  @apply flex flex-col p-3
}

.sub-title {
  @apply text-xs pl-1 font-[Figtree-Regular]
}

.title {
  @apply text-3xl font-[Cabin-Bold]
}

.main-content {
  @apply flex flex-col h-dvh
}

.main-chat {
  @apply h-full w-[calc(100%-18rem)] flex flex-col items-start items-center overflow-auto transition-all ease-in-out duration-300
}

.main-chat.empty {
  @apply justify-center text-center items-center
}

.main-chat.collapsed {
  @apply w-[calc(100%-4rem)]
}

.welcome-message {
  @apply flex flex-col w-3xl items-center font-[Figtree-Regular]
}

#greeting {
  @apply text-4xl font-[Figtree-Regular]
}

#greeting span {
  @apply font-[Cabin-Bold] text-[#02542D]
}

.dark-mode #greeting span {
  @apply text-[#D4E9D7]
}

#intro {
  @apply w-17/25 text-xl font-[Figtree-Regular]
}

#disclaimer {
  @apply w-11/25 text-xs text-[#8E8E93] font-[Figtree-Regular]
}

#disclaimer span {
  @apply font-[Cabin-Bold]
}

.message-container {
  @apply w-full flex flex-row-reverse
}

.message-prompt {
  @apply bg-[#D4E9D7] m-4 rounded-xl max-w-5/12
}

.dark-mode .message-prompt {
  @apply bg-[#3B3B3B] transition-colors duration-300
}

.reply-container {
  @apply w-full flex flex-row font-[Figtree-Regular]
}

.chatbot-reply {
  @apply bg-[#F8F9FA] m-4 rounded-xl max-w-7/12 transition-colors duration-300
}

.dark-mode .chatbot-reply {
  @apply bg-[#232323] transition-colors duration-300
}

.chatbot-reply.loading {
  @apply flex gap-1 items-center pt-3 pr-4 bg-[#F8F9FA]
}

.dot {
  @apply w-2 h-2 rounded-4xl bg-current animate-bounce duration-1200 ease-in-out
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

.main-chat p {
  @apply p-3 font-[Figtree-Regular]
}

.message-box {
  @apply border-t-1 border-black/20 w-[calc(100%-18rem)] h-20.5 flex flex-row items-center static transition-all ease-in-out duration-300
}

.dark-mode .message-box {
  @apply border-white/10 transition-colors duration-300
}

.message-box.collapsed {
  @apply w-[calc(100%-4rem)]
}

form {
  @apply w-full h-11/13 flex flex-row items-center gap-2 right-0
}

form input {
  @apply h-3/4 ml-4 bg-[#e7eaed] rounded-md w-24/25 border-1 border-black/20 focus-visible:outline-0
}

.dark-mode form input {
  @apply bg-[#3B3B3B] transition-colors duration-300
}

form input[type=text] {
  @apply px-4 font-[Figtree-Regular]
}

.dark-mode form input[type=text] {
  @apply text-[#F8F9FA]
}

form input[type=image] {
  @apply ml-0 mr-2 bg-[#D4E9D7] w-15 p-2 object-center hover:bg-[#D9E3DC] transition-colors duration-200
}

.dark-mode form input[type=image] {
  @apply bg-[#232323] hover:bg-[#3B3B3B] transition-colors duration-200 fill-white
}

.bot-composite {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bot-text {
  margin: 0;
}

.bot-section {
  @apply flex flex-col
}

.bot-bullet-list {
  @apply flex flex-col gap-2 mx-4 pl-4 pr-2 pb-2 list-disc text-justify
}

.bot-bullet-item {
  @apply list-item
}

.bot-bullet-item-inner {
  @apply flex flex-col
}

.bot-bullet-item-inner .bot-bullet-main {
  @apply font-[Cabin-bold]
}

.bot-bullet-item-inner .bot-bullet-description {
  @apply list-item list-['-_'] ml-4
}

.bot-bullet-toggle {
  @apply mx-4 mb-2 text-sm text-[#02542D] font-[Cabin-SemiBold] cursor-pointer hover:opacity-75 transition-all duration-200 focus-visible:outline-0
}

.dark-mode .bot-bullet-toggle {
  @apply text-[#D4E9D7] transition-colors duration-300
}

.bot-references {
  @apply mb-4
}

p.bot-references-label {
  font-weight: 600;
  padding-bottom: 0px;
}

.bot-references ul {
@apply flex flex-row flex-wrap gap-1 m-0 mt-2 pl-4 gap-y-3
}

.bot-references a {
  @apply text-[#02542D] bg-black/5 px-4 py-1 rounded-3xl font-[Cabin-SemiBold]
}

.dark-mode .bot-references a{
  @apply text-[#D4E9D7] bg-white/10
}

.bot-references a {
  @apply hover:opacity-75
}

.bot-text-line {
  @apply block
}

.bot-text-line+.bot-text-line {
  @apply mt-1
}

.bot-composite div:nth-last-child(1) p.bot-disclaimer {
  @apply font-[Cabin-SemiBold]
}

.bot-table-wrapper {
  @apply p-3 text-left overflow-auto rounded-2xl
}

.bot-table-wrapper th {
  @apply font-[Cabin-bold] p-2 border border-black/20
}

.bot-table-wrapper td{
  @apply p-2 border border-black/20
}

.dark-mode .bot-table-wrapper th, .dark-mode .bot-table-wrapper td{
  @apply border-white/20
}

/* Scrollbar*/
::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #434343;
}