@import "tailwindcss";

@font-face {
  font-family: Cabin-Bold;
  src: url(./assets/Cabin-Bold.ttf);
}

@font-face {
  font-family: Cabin-SemiBold;
  src: url(./assets/Cabin-SemiBold.ttf);
}

@font-face {
  font-family: Figtree-Regular;
  src: url(./assets/Figtree-Regular.ttf);
}

.navbar{
  @apply flex flex-col border-r-1 border-r-black/20 content-center h-dvh w-2xs pt-2 bg-[#F8F9FA] static
}

.button-container{
  @apply m-3 w-11/12 flex justify-start items-center
}

.button-container-active{
  @apply m-3 w-11/12 flex justify-start items-center bg-white rounded-xl
}

.icons{
  @apply ml-4 w-7
}

.nav-title{
  @apply p-5 pl-3 font-[Figtree-Regular]
}

.first-row {
  @apply flex flex-row items-center w-full
}

.first-row #clear-chat-button{
  @apply border-[#D4E9D7] rounded-xl bg-[#D4E9D7] w-5/6 h-12 mt-1 items-center
}

.menu-button-container{
  @apply right-0 pr-10
}

.main-container{
  @apply flex flex-col justify-start w-dvw 
}

.header{
  @apply flex justify-start items-center border-b-1 border-b-black/20 max-h-2/12 static
}

.header img{
  @apply h-12 w-auto mr-1 ml-4
}

.title-container{
  @apply flex flex-col p-3
}

.sub-title{
  @apply text-xs pl-1
}

.title{
  @apply text-3xl font-[Cabin-Bold]
}

.main-content{
  @apply flex flex-col h-dvh
}

.main-chat{
  @apply h-22/25 w-[calc(100%-18rem)] flex flex-col items-start items-center
}

.message-container{
  @apply  w-full flex flex-row-reverse
}

.message-prompt{
  @apply bg-[#D4E9D7] m-4 rounded-xl max-w-5/12
}

.reply-container{
  @apply w-full flex flex-row
}

.chatbot-reply{
  @apply bg-[#F8F9FA] m-4 rounded-xl max-w-7/12
}

.main-chat p{
  @apply p-3 font-[Figtree-Regular]
}

.message-box{
  @apply border-t-1 border-black/20 w-dvw h-20.5 flex flex-row items-center static
}

form{
  @apply w-11/13 h-11/13 flex flex-row ml-4 items-center
}

form input{
  @apply h-3/4 bg-[#F8F9FA] rounded-md w-22/25 border-1 border-black/20
}

form input[type=text]{
 @apply pl-4
}

form input[type=image]{
  @apply bg-[#D4E9D7] w-15 ml-3 p-2 object-center
}

