@import "tailwindcss";

.navbar{
  @apply col-span-1 row-span-4 flex flex-col border-r content-center
}

.button-container{
  @apply m-5 w-4/5
}

#new-chat{
  @apply bg-[#D4E9D7]
}

a{
  font-family: Figtree-Regular;
  @apply p-5
}

.header{
  @apply col-span-4 flex justify-start items-center border-b;
  grid-column: 2 / -1; 
  grid-row: 1 / 2;
  height: 80px;
}

.header img{
  @apply h-12 w-auto mr-5
}

.title-container{
  @apply flex flex-col p-3
}

.sub-title{
  @apply text-xs pl-1
}

.title{
  font-family: Cabin-Bold;
  @apply text-3xl
}

.main-content {
  @apply col-span-4 row-span-3 p-6;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}